<h1>Welcome to IronMatch</h1>

<form class="form-inline" action="/" method="get">
  <input class="form-control" type="text" name="search" placeholder="Search for a player" >
  <button class="btn btn-outline-primary" type="submit">Search</button>
  <a href="/" class="btn btn-outline-secondary">Reset</a>
</form>

<table class="table">
  <tr>
    <th>Player 1</th>
    <th>Score 1</th>
    <th>Score 2</th>
    <th>Player 2</th>
    <th>Action</th>
  </tr>
  {{#each matches}}
  <tr>
    <td>
      {{player1}}
    </td>
    <td>
      {{score1}}
    </td>
    <td>
      {{score2}}
    </td>
    <td>
      {{player2}}
    </td>
    <td>
      <a href="/delete/{{_id}}" class="btn btn-outline-danger">Delete</a>
    </td>
  </tr>
  {{/each}}

  <form action="/" method="post">
    <tr>
      <td>
        <input class="form-control" type="text" name="player1" id="">
      </td>
      <td>
        <input class="form-control" type="number" name="score1" id="">
      </td>
      <td>
        <input class="form-control" type="number" name="score2" id="">
      </td>
      <td>
        <input class="form-control" type="text" name="player2" id="">
      </td>
      <td>
        <button class="btn btn-outline-primary" type="submit">Add</button>
      </td>
    </tr>
  </form>
</table>