<main class="container">


</main>
<h1>Welcome to Ironmatch</h1>


<form action="/" method="GET" class="form-inline">
  
  <div class="form-group mx-sm-3 mb-2">
    <label for="searchplayer" >Search for a player:</label>
    <input type="text" class="form-control"  placeholder="Player" name="searchplayer" value="{{value}}">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>

<form action="/add-match" method="POST">
  <table class="table">

    
      <tr>
        <th>Player 1</th>
        <th>Score 1</th>
        <th>Score 2</th>
        <th>Player 2</th>
        <th>Action</th>
      </tr>
      {{#each matches}}
      <tr>
        <th>{{player1}}</th>
        <th>{{score1}}</th>
        <th>{{score2}}</th>
        <th>{{player2}}</th>
        <th>
          <a href="/delete/{{_id}}">DELETE</a>
        </th>
      </tr>
      {{/each}}

      <tr>
        <td>
          <input class="form-control" type="text" name="player1">
        </td>
        <td>
          <input class="form-control" type="number" name="score1">
        </td>
        <td>
          <input class="form-control" type="number" name="score2">
        </td>
        <td>
          <input class="form-control" type="text" name="player2">
        </td>
        <td>
          <button class="btn btn-primary" type="submit">ADD</button>
        </td>
      </tr>
  
  </table>
</form>
</main>