<div class="container">
    <br>
    <h1 class="row">Welcome to Ironmatch</h1>
    <br>
    <br>
    <form action="/match/add" method="POST" id="new_match"></form>

    <form action="/" method="GET">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Player's name" name="player">
            <div class="input-group-append">
                <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" name="sport">
                    Sports: all
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#each sports}}
                    <a class="dropdown-item" href="#">{{sports}}</a>
                    {{/each}}
                </div>
            </div>
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sport</th>
                <th scope="col">Player 1</th>
                <th scope="col">Score 1</th>
                <th scope="col">Score 2</th>
                <th scope="col">Player 2</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each matches}}
            <tr>
                <td>{{sport}}</td>
                <td>{{player1}}</td>
                <td>{{score1}}</td>
                <td>{{score2}}</td>
                <td>{{player2}}</td>
                <td>
                    <a href="/match/delete/{{this._id}}" class="btn btn-outline-danger" />Delete</a>
                </td>
            </tr>
            {{/each}}
            <tr>
                <td>
                    <input type="text" name="sport" form="new_match" class="form-control" />
                </td>
                <td>
                    <input type="text" name="player1" form="new_match" class="form-control" />
                </td>
                <td>
                    <input type="number" name="score1" form="new_match" class="form-control" />
                </td>
                <td>
                    <input type="number" name="score2" form="new_match" class="form-control" />
                </td>
                <td>
                    <input type="text" name="player2" form="new_match" class="form-control" />
                </td>
                <td>
                    <button type="submit" form="new_match" class="btn btn-outline-primary" />Add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>